* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
  list-style-type: none;
}

/* Undo the reset for dialogs (and their contents) */
dialog {
  margin: revert;
  padding: revert;
}

html {
  /* responise font size ratio I found on the web */
  font-size: calc(15px + 0.390625vw);
}

.todo {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 350px 1fr;
  min-height: 100vh;
}

.sidebar {
  grid-area: sidebar;
  background: #fcfaf8;
}

.main {
  grid-area: main;
  background: #fff;
}

/* Base custom radio */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none; /* Safari */
  width: 0.8rem;
  height: 0.8rem;
  border: 2px solid currentColor;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition:
    background-color 0.2s,
    border-color 0.2s;
}

input[type="radio"]:hover {
  background-color: currentColor;
  opacity: 1;
}

input[type="radio"].prio-high {
  color: red;
}
input[type="radio"].prio-medium {
  color: green;
}
input[type="radio"].prio-low {
  color: grey;
}

@media (max-width: calc(350px + 450px - 1px)) {
  .todo {
    grid-template-columns: 1fr;
    grid-template-areas: "main";
  }
  .sidebar {
    display: none;
  }
}
