* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
  list-style-type: none;
}

/* Let the browser center my dialogs*/
dialog {
  margin: revert;
  padding: revert;
}

.todo {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  flex-shrink: 0;
  width: 300px;
  background: #fcfaf8;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar button {
  border: none;
  padding: 0px 10px;
  font-size: 16px;
  cursor: pointer;
}

.sidebar-header {
  display: flex;
  gap: 20px;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-list li {
  display: flex;
  gap: 20px;
  color: #666;
  justify-content: space-between;
}

.project-list li:hover {
  background: #f0f0f0;
  cursor: pointer;
}

.sidebar-header h2 {
  color: #dc4c3e;
}

.main {
  flex: 1;
  background: #fff;
  padding: 20px;
}

.project-title {
  margin-bottom: 20px;
}

.task-list li {
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
}

.task-list:hover {
  cursor: pointer;
}

.task .task-title {
  display: flex;
  gap: 10px;
  align-items: center;
}

.task .task-title h4 {
  font-weight: 400;
}

.task .task-desc {
  font-size: 15px;
  color: grey;
}

.task .task-date {
  font-size: 15px;
  color: black;
}

.show-form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.show-form .button-icon {
  font-size: 20px;
  color: #dc4c3e;
}

.show-form .button-text {
  font-size: 16px;
}

.show-form:hover {
  color: #dc4c3e;
}

input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid currentColor;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition:
    background-color 0.2s,
    border-color 0.2s;
}

input[type="radio"]:hover {
  background-color: currentColor;
  opacity: 1;
}

input[type="radio"].prio-high {
  color: red;
}
input[type="radio"].prio-medium {
  color: green;
}
input[type="radio"].prio-low {
  color: grey;
}

/* hide sidebar when viewport too small */
@media (max-width: 799px) {
  .sidebar {
    display: none;
  }
}
